<!DOCTYPE html>
<html lang="en">
<head><style>}</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form">
        <span class="signup">Sign Up</span>
        <input type="text" placeholder="Name" class="form--input">
        <input type="text" placeholder="Description" class="form--input">
        Starting Date<input type="date" placeholder="date" class="form--input">
        Expiry Date<input type="date" placeholder="date" class="form--input">
        <input type="text" placeholder="Price" class="form--input">
            </label>
        </div>
        <button class="form--submit">
            SUBMIT
        </button>
</body>
</html>